@mixin main-font {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: Druk;
    src: url("../fonts/Druk.otf") format("opentype");
}

$main-dark: #1F2326;
$main-v-red: #FF4656;


body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    @include main-font;
    font-size: 14px;
    background-color: gray;
}

header{
    
    background-color: $main-dark;
    padding: 23px 36px;
    border-radius: 20px 20px 0px 0px;
    
}
.container-sec{
    
    min-width: 950px;
    width: 100%;
    max-width: 1400px;
    // padding-bottom: 50px;
    background-color: gray;
    border-radius: 0px 0px 20px 20px;
    // z-index: 14;
}
.container{
    //min-width: 950px;
    //max-width: 1400px;
    
}
.header-background{
    background-color: $main-dark;
    
}
.header_row{
    display: flex;
    align-items: center;
    
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo__riotGames{
    width: 39px;
    height: 20px;
    background-size: cover;
    background-image: url(../media/riot_logo.svg);
}
.logo__valorant{
    width: 24px;
    height: 20px;
    background-size: cover;
    background-image: url(../media/valorant_logo.svg);
}


.logo__separator{
    margin: 0 30px;
    width: 2px;
    height: 21px;
    background-color: white;
}

.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.menu__left{
    margin: 0;
    display: flex;
    list-style-type: none;
}
.menu__left-item{
    margin-right: 35px;
    color: white;
    font-weight: 700;
    font-size: 7px;
    line-height: 9px;
}
.menu__user{
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.menu__user-avatar{
    height: 21px;
    width: 21px;
    margin-right: 8px;
    border-radius: 50%;
}
.menu__user-name{
    margin-right: 8px;
    color: white;
    font-weight: 700;
    font-size: 7px;
    line-height: 9px;
}

.hero-page-bg{
    background-image: url(/media/background.png);
    background-color: $main-v-red;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
    
    
    
    
}

.hero-carousel{
    height: 510px;
    display: flex;
    padding: 55px 0 10px;
    //overflow: scroll;
    overflow-x: scroll;
    scroll-direction: horizontal;
    background-color: transparent;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.2);
}
.heros{
    display: flex;
}

.hero{
    cursor: pointer;
    position: relative;
    margin-left: 72px;
    width: 220px;
    height: 495px;
    background-image: url(../media/hero_bg.svg);
}

.hero_active{
    background-image: url(../media/hero_bg_white.svg);
}

.selected{
    background-image: url(../media/hero_bg_white.svg);
}

.hero-short-info{
    //top: 20px;
    position: absolute;
    flex-direction: row-reverse;
    //background-color: white;
    display: flex;
    transform: translate(-20px, 20px);
}
.hero-short-info__country{
    writing-mode:tb-rl;
    font-family: Druk;
    
    //stroke: $main-dark;
    color: $main-v-red;
    letter-spacing: 0.1em;
    font-size: 12px;
}
.hero-short-info__name{
    writing-mode:tb-rl;
    font-family: Druk;
    color: transparent;
    //stroke: $main-dark;
    -webkit-text-stroke: 1px white;
    font-size: 36px;
}

.hero-short-info__name_active{
    
    -webkit-text-stroke: 1px $main-dark;
    
}

.perks-list{
    transform: translate(20px, 20px);
    width: 100%;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    border: 1px solid white;
    background-color: $main-dark;
    
    
}

.perks-list_active{
    border: 1px solid $main-dark;
    background-color: white;
}

.perks-list__item-frame{
    margin: 10px;
    width: 30px;
    height: 30px;
}
.perks-list__item{
    margin: 10px;
    width: 30px;
    height: 30px;
    fill: white;
    
}
.perks-list__item_active{
    fill: $main-dark;
}
.perks-list2{
    width: 100px;height: 100px;
    background-image: url(../media/ability1_.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    
    color: red;
    fill: darkgreen;
    stroke:blue;
    
}


.hero:first-child{
    margin-left: 70px;
}
.hero:last-child{
    margin-right: 70px;
}
.hero-image{
    width: 220px;
    height: 495px;
    
}

.carousel-logo{
    margin-top: 450px;
    margin-left: 55px;
    width: 40px;
    height: 40px;
}

.carousel-logo-image{
    
    width: 40px;
    height: 40px;
}

.carousel-hegue-text{
    margin-left: 20px;
    writing-mode:tb-rl;
    font-family: Druk;
    color: transparent;
    //stroke: $main-dark;
    -webkit-text-stroke: 1px white;
    font-size: 75px;

}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.item-dropdown::after{
    
    content: '';
    position: fixed;
    margin-left: 8px;
    height: 7px;
    width: 7px;
    background-image: url(../media/dropdown.svg);
    background-position-x: center;
    background-position-y: 2px;
    background-repeat: no-repeat;
    background-size: 5px 5px;

}

.perks-carousel{
    display: flex;
    align-items: center;
    position: relative;
    height: 170px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.perks-carousel__white-stripe{
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 1798px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    z-index: 0;
    
}
.perks-carousel__item{
    display: none;
    position: relative;
    width: 362px;
    height: 124px;
    margin: 0 10px;
    background-image: url(../media/perk_bg.svg);
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    //transform: translate(20px, 20px);
    z-index: 1;
    
}

.perks-carousel__btn{
    height: 124px;
    width: 110px;
    background-color: transparent;
    border: none;
    background-image: url(../media/btn-bg.svg);
    background-size: cover;
    flex-shrink: 0;
    margin: 0 10px;
    margin-right: 20px;
    // transform: translate(20px, 20px);
    z-index: 1;
}

.perks-carousel__aside{
    margin-left: 29px;
    margin-top: 12px;
}

.perks-carousel__class{
    color: #c4c4c4;
    font-size: 20px;
    font-family: Druk;
}
.perks-carousel__name{
    margin-top: 16px;
    color: #000000;
    font-size: 12px;
    font-family: Druk;
}
.perks-carousel__description{
    width: 155px;
    margin-top: 16px;
    color: #1F2326;
    font-size: 8px;
}
.perks-carousel__frame{
    width: 95px;
    height: 95px;
    background-color: $main-v-red;
    position: absolute;
    bottom: 1px;
    right: 50px;
}
.perks-carousel__icon-frame{
    width: 95px;
    height: 95px;
}
.perks-carousel__icon{
    width: 95px;
    height: 95px;
    position: absolute;
    bottom: 20%;
    left: 20%;
    fill:$main-dark;
}

footer{
    height: 66px;
    width: 100%;
    
    background-color: white;
}

.active{
    display: block;
}
